<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title dir="ltr">ETM</title>
<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/61gbb09bfIL._RC|11Fd9tJOdtL.css,21ULbzscqzL.css,31Q3id-QR0L.css,31QszevPBSL.css_.css#AUIClients/AmazonUI.min">
<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AuthenticationPortalAssets-94ded7628fed721f90d0747ae14bd55bda0a4bf9._V2_.css#AUIClients/AuthenticationPortalAssets.secure.min">
<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/CVFAssets-e91ba5c6e67c58c7f9c4c413fa67697feade389e._V2_.css#AUIClients/CVFAssets.secure.min">
<script src="jquery-3.2.1.js"></script> 
</head>

<body style="font-family: Amazon Ember; Arial:sans-serif; line-height: 19px;  font-size: 13px; line-height: 19px; color: #111;">

<form method="get" action="/users/initiatebus">
		<div id="a-page" style="display: block;">
			<div class="a-section " style= " width: 320px; margin: auto; padding: 14px 18px!important; padding-top: 14px; padding-right: 18px; padding-bottom: 14px; padding-left: 18px; width: 350px;">
				<div class="a-section a-spacing a-text-center" style= "margin: auto; width: 320px;">
					<div class="a-section spacing-medium a-text-center">
					</div>	
				</div>
				<div class="a-section a-spacing-base auth-pagelet-container">
            
                <div id="auth-cookie-warning-message" class="a-box a-alert a-alert-warning">
				<div class="a-box-inner a-alert-container"><h4 class="a-alert-heading">Please Enable Cookies to Continue</h4>
				<i class="a-icon a-icon-alert"></i>
				<div class="a-alert-content">
                  <p>
                    <a class="a-link-normal" href="/gp/help/customer/display.html/ref=ap_cookie_error_help?">
                      
                    </a>
                  </p>
                </div></div>
				</div>
				</div>
				
				<div class= "a-section auth-pagelet-container" style= " width: 400px; margin: auto; padding: 14px 18px!important;">
					<div class= "a-section auth-pagelet-container">
						<form id= "ap_register_form" name= "register" method= "post" style="display: block; margin-top: 0em" class="ap_ango_default auth-validate-form-moa auth-real-time-validation fwcim-form">
							<div class= "a-box a-spacing-extra-large" style="center">	
							<div class="a-box-inner">
								<br>
								<span id=""><!-- will be used for modal-->
								<span class="a-button-inner" style="  width: 100%!important;   background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;   border-radius: 3px; border-style: solid;  border-width: 1px; cursor: pointer; display: inline-block; padding: 0; text-align: center;  text-decoration: none!important;
    vertical-align: middle;">
				
								<input id="submit" tabindex="5" class="a-button-input" type="submit" aria-labelledby="continue-announce" onclick="myFunction()"><span id="continue-announce" class="a-button-text" aria-hidden="true">Initiate Bus </span>
								</span>
									</span>
								<br><br>
								<!-- <span id="">
								<span class="a-button-inner" style="  width: 100%!important;   background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;   border-radius: 3px; border-style: solid;  border-width: 1px; cursor: pointer; display: inline-block; padding: 0; text-align: center;  text-decoration: none!important;
    vertical-align: middle;">	
				
									<input id="submit" tabindex="5" class="a-button-input" type="submit" aria-labelledby="continue-announce" onclick="myFunction()"><span id="continue-announce" class="a-button-text" aria-hidden="true">Dashboard </span>
								</span>
									</span> -->

							</div>
							</div>		
						</form>
					</div>
				</div>
			</div>
			<div id="right-2">
      </div>
			
			<div class="a-section a-spacing-top-extra-large auth-footer">
        



	
		<div id="be" style="display: none; visiblity: hidden; ">
			<form name="ue_backdetect" action="get">
			<input type="hidden" name="ue_back" value="2">
			</form>
				
		</div>
		<div class="fwcim-container"></div>
		<div id="a-popover-root" style="z-index:-1;position:absolute;"></div>
</form>
<form method="get" action="/users/dashboard">
		<div id="a-page" style="display: block;">
			<div class="a-section " style= " width: 320px; margin: auto; padding: 14px 18px!important; padding-top: 14px; padding-right: 18px; padding-bottom: 14px; padding-left: 18px; width: 350px;">
				<div class="a-section a-spacing a-text-center" style= "margin: auto; width: 320px;">
					<div class="a-section spacing-medium a-text-center">
					</div>	
				</div>
				<div class="a-section a-spacing-base auth-pagelet-container">
            
                <div id="auth-cookie-warning-message" class="a-box a-alert a-alert-warning">
				<div class="a-box-inner a-alert-container"><h4 class="a-alert-heading">Please Enable Cookies to Continue</h4>
				<i class="a-icon a-icon-alert"></i>
				<div class="a-alert-content">
                  <p>
                    <a class="a-link-normal" href="/gp/help/customer/display.html/ref=ap_cookie_error_help?">
                      
                    </a>
                  </p>
                </div></div>
				</div>
				</div>
				
				<div class= "a-section auth-pagelet-container" style= " width: 400px; margin: auto; padding: 14px 18px!important;">
					<div class= "a-section auth-pagelet-container">
						<form id= "ap_register_form" name= "register" method= "post" style="display: block; margin-top: 0em" class="ap_ango_default auth-validate-form-moa auth-real-time-validation fwcim-form">
							<div class= "a-box a-spacing-extra-large" style="center">	
							<div class="a-box-inner">
								<br>
								<span id="">
								<span class="a-button-inner" style="  width: 100%!important;   background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;   border-radius: 3px; border-style: solid;  border-width: 1px; cursor: pointer; display: inline-block; padding: 0; text-align: center;  text-decoration: none!important;
    vertical-align: middle;">
				
									<input id="submit" tabindex="5" class="a-button-input" type="submit" aria-labelledby="continue-announce" onclick="myFunction()"><span id="continue-announce" class="a-button-text" aria-hidden="true">Dashboard </span>
								</span>
									</span>

							</div>
							</div>		
						</form>
					</div>
				</div>
			</div>
			<div id="right-2">
      </div>
			
			<div class="a-section a-spacing-top-extra-large auth-footer">
        



	
		<div id="be" style="display: none; visiblity: hidden; ">
			<form name="ue_backdetect" action="get">
			<input type="hidden" name="ue_back" value="2">
			</form>
				
		</div>
		<div class="fwcim-container"></div>
		<div id="a-popover-root" style="z-index:-1;position:absolute;"></div>
</form>

</body>
</html>